@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
#sourceBody {
	margin: 0px;
	border: 0px;
	padding: 0px;
	height: 100vh;
	max-height: 100%;
	font-family: 'Nunito', sans-serif;
	display: flex;
	flex-direction: column;
}
#dockBody {
	margin: 0px;
	border: 0px;
	padding: 0px;
	height: 100vh;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(31, 30, 31);
}
.panel {
	background-color: rgb(58, 57, 58);
	padding: 5px;
	border-radius: 5px;
	width: 90%;
	max-width: 225px;
}

#timeDisplay {
	width: auto;
	height: auto;
	font-size: 50px;
	color: white;
	/*border: solid 1px black; */
	text-align: center;
}
#timeDisplaySource {
	text-align: left;
	font-size: 150px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, -1px -1px black, 1px 1px black, 1px -1px black, -1px 1px black, 0 0 40px black,
		0 0 40px black;
}
.input {
	color: white;
	font-size: 20px;
	padding: 10px;
	text-align: center;
}
.inputMessage {
	color: white;
	padding: 5px;
	font-size: 20px;
	text-align: center;
}

.buttonInput {
	border: 0px;
	border-radius: 10%;
	color: white;
	font-size: 19px;
	background-color: rgb(31, 30, 31);
}
.inputNum {
	border: 0px;
	border-radius: 5%;
	color: white;
	background-color: rgb(31, 30, 31);
	font-size: 19px;
}
.inputText {
	border: 0px;
	border-radius: 5%;
	color: white;
	background-color: rgb(31, 30, 31);
	font-size: 16px;
}
#buttonOKMess {
	margin-top: 5px;
}

#allButtons {
	width: auto;
	height: auto;
	margin-top: 15px;
	text-align: center;
}
#buttonReset {
	margin-top: 20px;
	margin: 10px;
}

.button {
	background-color: rgb(31, 30, 31);
	border-radius: 10%;
	border: none;
	color: white;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	height: 35px;
	width: 90px;
}
.button:hover {
	background-color: rgb(50, 40, 50);
}
.buttonInput:hover {
	background-color: rgb(50, 40, 50);
}
